force-app/main/default/flows/Conditions_Send_Outstanding_Conditions_to_Borrower_Broker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_the_List_of_Outstanding_Conditions</name>
        <label>Send the List of Outstanding Conditions</label>
        <locationX>468</locationX>
        <locationY>1790</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>RecipientEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_li_Tag</name>
        <label>Add &lt;li&gt; Tag</label>
        <locationX>556</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>ConditionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;li&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_the_Applicable_Condition_to_the_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_li_Tag_in_the_End</name>
        <label>Add &lt;/li&gt; Tag in the End</label>
        <locationX>556</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>ConditionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/li&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_the_Applicable_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_the_Applicable_Condition_to_the_List</name>
        <label>Add the Applicable Condition to the List</label>
        <locationX>556</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>ConditionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_the_Applicable_Tasks.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_li_Tag_in_the_End</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_ul_Tag_to_the_Body_End</name>
        <label>Add  &lt;/ul&gt; Tag to the Body End</label>
        <locationX>468</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>ConditionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/ul&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_the_List_of_Outstanding_Conditions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_ul_Tag_to_the_Body_Start</name>
        <label>Add  &lt;ul&gt; Tag to the Body Start</label>
        <locationX>468</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>ConditionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;ul&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_the_Applicable_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Borrower_s_Info</name>
        <label>Store Borrower&apos;s Info</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>RecipientEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_RLA_Record.Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BorrowerName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_the_Applicable_Open_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_the_Broker_s_Infio</name>
        <label>Store the Broker&apos;s Infio</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>RecipientEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_RLA_Record.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BrokerName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_the_Applicable_Open_Tasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Borrower_or_Broker_is_Selected</name>
        <label>Check If Borrower or Broker is Selected</label>
        <locationX>468</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_All_the_Applicable_Open_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Borrower_is_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BorrowerClicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_the_Borrower_is_an_Individual</targetReference>
            </connector>
            <label>If Borrower is Selected</label>
        </rules>
        <rules>
            <name>If_Broker_is_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BrokerClicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_the_Broker_s_Infio</targetReference>
            </connector>
            <label>If Broker is Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_Borrower_is_an_Individual</name>
        <label>Check if the Borrower is an Individual</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_All_the_Applicable_Open_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_the_Borrower_is_a_Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RLA_Record.Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Borrower_s_Info</targetReference>
            </connector>
            <label>If the Borrower is a Person Account</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BorrowerName</name>
        <dataType>String</dataType>
        <expression>{!Get_RLA_Record.Account.FirstName} + &quot; &quot; + {!Get_RLA_Record.Account.LastName}</expression>
    </formulas>
    <formulas>
        <name>BrokerName</name>
        <dataType>String</dataType>
        <expression>{!Get_RLA_Record.Contact__r.FirstName} + &quot; &quot; +  {!Get_RLA_Record.Contact__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Alert: Conditions are outstanding on Loan Application #  &apos;  + {!Get_RLA_Record.Name}</expression>
    </formulas>
    <formulas>
        <name>SelectConditionsText</name>
        <dataType>String</dataType>
        <expression>&apos;Select the Conditions to send to&apos;</expression>
    </formulas>
    <interviewLabel>Conditions - Send Outstanding Conditions to Borrower/Broker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conditions - Send Outstanding Conditions to Borrower/Broker</label>
    <loops>
        <name>Loop_through_all_the_Applicable_Tasks</name>
        <label>Loop through all the Applicable Tasks</label>
        <locationX>468</locationX>
        <locationY>1166</locationY>
        <collectionReference>SelectOpenConditions.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_li_Tag</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_ul_Tag_to_the_Body_End</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_the_Applicable_Open_Tasks</name>
        <label>Get All the Applicable Open Tasks</label>
        <locationX>468</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Conditions_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND( 3 OR 4)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Showing__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Condition_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RLA_Record</name>
        <label>Get RLA Record</label>
        <locationX>468</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Borrower_or_Broker_is_Selected</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>930</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Error: &lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Outstanding_Conditions</name>
        <label>Outstanding Conditions</label>
        <locationX>468</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_RLA_Record</targetReference>
        </connector>
        <fields>
            <name>Recipient</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Send The Notification To:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Outstanding_Conditions_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Outstanding_Conditions_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BorrowerButton</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>renderNext</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Borrower</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>BorrowerClicked</assignToReference>
                        <name>renderNext</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Outstanding_Conditions_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BrokerButton</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Broker</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>renderNext</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>BrokerClicked</assignToReference>
                        <name>renderNext</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Conditions_Screen</name>
        <label>Select Conditions Screen</label>
        <locationX>468</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_ul_Tag_to_the_Body_Start</targetReference>
        </connector>
        <fields>
            <name>SelectOpenConditions</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Task</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Conditions To Send:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_the_Applicable_Open_Tasks</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Condition_Name__c&quot;,&quot;guid&quot;:&quot;column-9f45&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Condition Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-0ff6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Send Email</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Outstanding_Conditions</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!RecipientName},&lt;/p&gt;&lt;p&gt;Please note following conditions are outstanding:&lt;/p&gt;&lt;p&gt;{!ConditionsList}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>BorrowerClicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BrokerClicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConditionsList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
